.searchableCardContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 300px;
  }
  
  .searchableCardsList {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .searchableCard {
    text-align: center;
    border: 1px solid #d2d1d3;
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
    box-sizing: border-box;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
  }
  
  .searchableCard img {
    max-width: 200px;
  }
  
  .searchableCard span {
    display: block;
  }

  .searchableCard a {
    text-decoration: none;
    color: inherit;
  }

  .searchableCard:hover {
    background-color: rgb(240, 240, 240, 0.5);
    border: 1px solid rgb(139, 111, 57);
    font-weight: bold;
    color: rgb(139, 111, 57);
    transition: all 0.5s;
  }
  