.pet-adopt-container {
  display: flex;
}

.pet-adopt-aside {
  flex-basis: 25%;
}

.pet-adopt-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pet-details-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* background-color: rgb(139, 111, 57, 0.4);
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  height: 620px; */
}

.carousel-container {
  flex-basis: 30%;
}

.details-container {
  flex-basis: 60%;
}

.horizontal-line {
  border: 2px solid black;
}

.details-column {
  display: flex;
  flex-direction: column;
}

.rehome-pet-container {
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.rehome-pet-container h3{
  text-align: center;
}

.rehome-pet-container h5 {
  border-bottom: 1px solid rgb(170, 170, 170);
  padding-bottom: 5px;
}

.input-image {
  width: 50%;
}

.input-image-container {
  margin-bottom: 30px;
}

.submit-form {
  padding: 2px;
  width: 50%;
  border: 2px solid rgb(139, 111, 57);
  background-color: rgba(219, 185, 122, 0.897);
  font-weight: bold;
  border-radius: 5px;
  transition: all .5s ease-out;
  height: 40px;
}

.submit-form:hover {
  color: white;
  background-color: rgb(139, 111, 57);
}